


#man-mobile-img{
  height: 284px;
  width: 289px;
  margin: auto;
  display: block;
}
#html-img{
  height: 114px;
  width: 100px;
  /* margin: auto; */
  /* display: block; */
}
#css-img{
  height: 114px;
  width: 100px;
  /* margin: auto; */
  /* display: block; */
}
#js-img{
  height: 114px;
  width: 100px;
  /* margin: auto; */
  /* display: block; */
}

@media(max-width: 767px){
  .img-align{
    text-align: center;
  }
  /* alignment text about technologies (HTML CSS JS) */
  .text-tech-align{
    text-align: center;
    margin: 0 auto;
  }
  /* main text in fromnt of page alignment */
  .main-text-align{
    text-align: center;
  }
  /* width of text about technologies html css js */
  .text-about-tech-width{
    width: 250px;

  }
}

@media(min-width: 768px){

  .main-text-align{
    text-align: left;
  }
  .text-about-tech-width{/*ширина блока для текста про технологии*/
    width: 400px;
  }
  /* alignment box for images and text about technologies */
  .text-tech-align-together{/* выравнивание текста заголовка и текста про технологии */
    text-align: left;
  }
}
@media(min-width: 992px){
  .img-align{
    text-align: left;
    margin-left: 20px;
  }
  .text-about-tech-width{
    width: 250px;
  }
  .text-tech-align{
    text-align: left;
    margin: 0 auto;
  }
  .text-tech-align-together{
    text-align: left;
  }

}

